.background_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card_container {
  background-color: #150b3e;
  padding: 25px;
  border-radius: 12px;
  width: 450px;
}
.heading {
  color: #d4d2db;
  font-family: roboto;
  font-size: 25px;
  padding-left: 25px;
  font-weight: 400;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7d2fe;
  color: #7c3aed;
  font-family: roboto;
  font-size: 20px;
  height: 70px;
  width: 70px;
  border-radius: 35px;
}
.logo_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.yourbalance {
  color: #585076;
  font-family: roboto;
  font-size: 20px;
  font-weight: 500;
}
.inrupees {
  color: #585076;
  font-family: roboto;
  font-size: 15px;
  font-weight: 500;
}
.balance {
  color: #d4d2db;
  font-family: roboto;
  font-size: 35px;
  font-weight: 500;
}
.yourbalance_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.withdraw {
  color: #d4d2db;
  font-family: roboto;
  font-size: 25px;
  font-weight: 500;
}
